.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    padding: 60px 0px 90px;
    flex-direction: column;

    div {

        .welcome__title {

            div {

                h2 {
                    font-size: 44px;
                    font-weight: 500;
                    line-height: 52px;
                    letter-spacing: 0;
                    color: black;
                    margin-bottom: 22px;
                }
            }
        }
    }

    .slider-container {
        width: 91%;
        margin: auto;

        .slick-list {
            margin: 0 -10px;
            /* overflow-y: visible; */
            /* height: 619px; */

            .slick-slide {
                padding: 0 25px;

                .single__item {
                    background-color: white;
                    padding: 30px;

                    img {
                        width: 100%;
                        margin-bottom: 30px;
                        padding: 10px;
                    }

                    h3 {
                        font-size: 22px;
                        line-height: 1.36;
                        color: black;
                        font-weight: 500;
                    }
                }
            }
        }

        .slick-prev {
            left: -20px;
            z-index: 10;
        }

        .slick-next {
            right: 10px;
        }

        .slick-arrow::before {
            font-size: 50px;
            color: black;
        }

        ul {
            bottom: -35px;

            li {
                margin: 0;

                button::before {
                    font-size: 10px;
                }
            }
        }
    }
}