.third__section {
    background-image: url('../../../assets/images//museum.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 60px 110px;

    .third__section__div {
        background-color: white;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;

        .third__section__div__left {
            width: 50%;

            h2 {
                font-size: 44px;
                font-weight: 500;
                line-height: 52px;
                color: black;
            }
        }

        .third__section__div__right {
            width: 50%;

            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: black;
                margin-bottom: 18px;
            }

            a {
                background-color: black;
                padding: 10px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 145px;

                span {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 0;
                    color: white;
                }

                i {
                    height: 100%;
                    color: white;
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .third__section {
        padding: 30px 60px;

        .third__section__div {
            padding: 30px;

            .third__section__div__left {

                h2 {
                    font-size: 38px;
                    line-height: 46px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .third__section {
        padding: 20px 40px;

        .third__section__div {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0px;
            padding: 20px;

            .third__section__div__left {
                width: 100%;

                h2 {
                    font-size: 32px;
                    line-height: 40px;
                    margin-bottom: 16px;
                }
            }

            .third__section__div__right {
                width: 100%;
            }
        }
    }
}

@media (max-width: 478px) {
    .third__section {

        .third__section__div {

            .third__section__div__right {

                a {
                    width: 100%;
                }
            }
        }
    }
}