.visit {
    background-color: black;

    .visit__cont {
        padding: 60px 0px;

        .visit__title {

            .visit__title__col {

                h2 {
                    font-size: 44px;
                    font-weight: 500;
                    line-height: 52px;
                    letter-spacing: 0;
                    color: white;
                    margin-bottom: 22px;
                }
            }
        }

        .visit__cards {

            .single__card__col {

                .single__card {
                    width: 100%;
                    height: 100%;
                    background: none;
                    border: none;

                    .card__top {

                        img {
                            width: 100%;
                        }
                    }

                    .card__bottom {
                        background-color: #1d1d1d;
                        padding: 30px;

                        h4 {
                            font-size: 22px;
                            font-weight: 500;
                            line-height: 30px;
                            letter-spacing: 0;
                            color: white;
                            margin-bottom: 11px;
                        }

                        p {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 28px;
                            letter-spacing: 0;
                            color: #a5a5a5;
                        }
                    }
                }
            }
        }
    }
}



/* Media */

@media (max-width: 1400px) {
    .visit {

        .visit__cont {
            padding: 50px 0px;
        }
    }
}

@media (max-width: 1200px) {
    .visit {

        .visit__cont {
            padding: 50px 0px 10px;

            .visit__cards {

                .single__card__col {
                    width: 50%;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .visit {

        .visit__cont {
            padding: 40px 0px 10px;

            .visit__title {

                .visit__title__col {

                    h2 {
                        font-size: 38px;
                        line-height: 46px;
                        margin-bottom: 19px;
                    }
                }
            }

            .visit__cards {

                .single__card__col {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .visit {

        .visit__cont {
            padding: 30px 0px 10px;

            .visit__title {

                .visit__title__col {

                    h2 {
                        font-size: 32px;
                        line-height: 40px;
                        margin-bottom: 16px;
                    }
                }
            }

            .visit__cards {

                .single__card__col {
                    width: 100%;
                    margin-bottom: 20px;

                    .single__card {

                        .card__bottom {
                            padding: 20px;

                            h4 {
                                font-size: 20px;
                                line-height: 28px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}