.catCards {
    background-color: #f5f5f5;
    padding: 60px 0 30px;

    .shopCart__cont {

        .shopCart__row {

            .shopCart__col {
                margin: 0 auto;
            }
        }
    }

    .catCards__mini__cont {

        .catCards__mini__row {

            .catCards__mini__col {
                margin: 0 auto;
            }
        }
    }

    .catCards__cont {

        .catCards__row {
            display: flex;
            justify-content: center;
            align-items: center;

            .col-8 {

                .row {
                    margin-bottom: 30px;

                    .catCards__col__left{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        input{
                            padding: 4px 25px 5px 10px;
                            border: 1px solid #ccc;
                            height: 44px;
                            font-size: 16px;
                            line-height: 22.9px;
                            color: #333333;
                        }
                    }

                    .catCards__col__right {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        p {
                            margin-right: 20px;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 22.9px;
                            color: #333333;
                        }

                        select {
                            padding: 4px 25px 5px 10px;
                            border: 1px solid #ccc;
                            height: 44px;
                            font-size: 16px;
                            line-height: 22.9px;
                            color: #333333;
                        }
                    }
                }

                .row {

                    .catCards__col4 {
                        margin-bottom: 30px;

                        .single__card {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #e5e5e5;
                            height: 100%;
                            border-radius: 0;
                            transition: 0.3s;

                            .card__top {

                                img {
                                    margin: 20px 0;
                                    width: 100%;
                                }
                            }

                            .card__bottom {
                                padding: 0 10px 15px;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-start;

                                a {
                                    font-size: 19px;
                                    font-weight: 700;
                                    line-height: 25px;
                                    color: black;
                                    margin-bottom: 20px;
                                }

                                p {
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 22.9px;
                                    color: black;
                                }
                            }
                        }

                        /* .single__card:hover {
                            padding-bottom: 9px;
                            box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
                        } */
                    }
                }
            }
        }
    }
}