.add__co {
    width: calc(100% - 300px);
    margin-left: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .add__co__cont {

        .form3 {
            display: flex;
            justify-content: center;
            align-items: center;

            .form3__col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                input {
                    padding: 10px;
                    width: 100%;
                }

                button {
                    padding: 8px 20px;
                    margin: 0 auto;
                }
            }
        }
    }
}