.highlight {
    background-color: black;

    .highlight__cont {
        padding: 60px 0px;
        border-bottom: 1px solid #4a4a4a;

        .highlight__title {

            .highlight__title__col {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-size: 44px;
                    font-weight: 500;
                    line-height: 52px;
                    letter-spacing: 0;
                    color: white;
                    margin-bottom: 22px;
                }

                .see__ev {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        position: relative;
                    }

                    p::before {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 50%;
                        width: 0;
                        height: 2px;
                        background-color: white;
                        transition: all linear 0.3s;
                        transform-origin: center;
                    }

                    p:hover::before {
                        left: 0;
                        width: 100%;
                    }

                    i {
                        margin-left: 10px;
                    }
                }
            }
        }

        .highlight__cards {

            .single__card__col {

                .single__card {
                    height: 100%;
                    border: none;
                    background: none;

                    .card__top {

                        img {
                            object-fit: cover;
                            width: 100%;
                        }
                    }

                    .card__bottom {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        background-color: #1d1d1d;
                        padding: 30px;

                        .card__bottom__top {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            margin-bottom: 36px;

                            .card__bottom__top__left {

                                .performance {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-bottom: 8px;

                                    i{
                                        font-size: 18px;
                                        color: rgba(255, 255, 255, 0.4);
                                    }

                                    span {
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 21.7px;
                                        color: white;
                                        margin-left: 7px;
                                    }
                                }

                                ul {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    gap: 20px;

                                    li {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        svg{
                                            width: 20px;
                                            fill: rgba(255, 255, 255, 0.4);
                                        }

                                        span {
                                            font-size: 14px;
                                            font-weight: 500;
                                            line-height: 21.7px;
                                            color: white;
                                            margin-left: 7px;
                                        }

                                        i{
                                            font-size: 18px;
                                            color: rgba(255, 255, 255, 0.4);
                                        }
                                    }
                                }
                            }

                            .card__bottom__top__right {

                                div {
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 21.7px;
                                    letter-spacing: 0;
                                    color: black;
                                    background-color: white;
                                    width: 86px;
                                    height: 86px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;
                                }
                            }
                        }

                        .card__bottom__bottom {
                            width: 100%;

                            h3 {
                                font-size: 22px;
                                font-weight: 500;
                                line-height: 30px;
                                letter-spacing: 0;
                                color: white;
                                margin-bottom: 11px;
                            }

                            p {
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 28px;
                                letter-spacing: 0;
                                color: #a5a5a5;
                            }

                            .card__bottom__bottom__book {
                                width: 100%;
                                background-color: black;
                                padding: 10px 20px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 18px;

                                span {
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 28px;
                                    letter-spacing: 0;
                                    color: white;
                                }

                                i {
                                    height: 100%;
                                    color: white;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}