#map {
    padding: 60px 0;

    .map__cont {

        .map__title {

            .map__title__col {
                margin-bottom: 22px;

                h1 {
                    font-size: 44px;
                    font-weight: 500;
                    line-height: 52px;
                    color: black;
                }
            }
        }

        .map__row {

            .map__col {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    color: black;
                    margin-bottom: 18px;

                    a {
                        color: black;
                        position: relative;
                    }

                    a::before {
                        position: absolute;
                        content: "";
                        bottom: -1px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: black;
                        transition: all linear 0.3s;
                        transform-origin: center;
                    }

                    a:hover::before {
                        left: 50%;
                        width: 0;
                    }
                }
            }

            .map__col:last-child{
                padding-left: 35px;
            }
        }
    }
}