.americas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 60px 0 90px;
    position: relative;

    .americas__cont {
        .americas__title {
            .americas__title__col {
                margin-bottom: 22px;
    
                h2 {
                    font-size: 44px;
                    font-weight: 500;
                    line-height: 52px;
                    color: white;
                }
            }
        }
    }

    .slider-container{
        width: 89%;
        margin: auto;

        .slick-list{
            margin: 0 -12px;

            .slick-slide{
                padding: 0 12px;

                .single__carousel{
                    height: 530px;

                    img{
                        object-fit: cover;
                        margin: auto;
                        margin-bottom: 18px;
                    }

                    h3{
                        font-size: 18px;
                        line-height: 28px;
                        color: white;
                        font-weight: 400;
                    }
                }
            }
        }

        .slick-prev {
            left: -20px;
            z-index: 10;
        }

        .slick-next {
            right: 10px;
        }

        .slick-arrow::before {
            font-size: 50px;
            color: white;
        }

        ul {
            bottom: -40px;

            li {
                margin: 0;

                button::before {
                    font-size: 10px;
                    color: white;
                }
            }
        }
    }
}

.americas::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 89%;
    height: 1px;
    background-color: #4a4a4a;
    transform: translateX(-50%);
}