.categories {
    background-color: #f5f5f5;

    .categories__cont {
        padding: 70px 0px 30px;

        .categories__row {
            display: flex;
            justify-content: center;
            align-items: center;

            .col-10 {

                .row {

                    .category__col {
                        margin-bottom: 30px;

                        .category {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            position: relative;

                            img {
                                width: 100%;
                            }

                            .category__caption {
                                position: absolute;
                                left: 25px;
                                bottom: 25px;

                                h3 {
                                    font-size: 24px;
                                    font-weight: 600;
                                    line-height: 34.3px;
                                    color: black;
                                }

                                span {
                                    font-weight: 500;
                                    line-height: 22.8px;
                                    color: black;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    gap: 16px;
                                    
                                    p {
                                        font-size: 16px;
                                        position: relative;
                                    }

                                    p::before {
                                        position: absolute;
                                        content: "";
                                        bottom: 0;
                                        left: 50%;
                                        width: 0;
                                        height: 1px;
                                        background-color: black;
                                        transition: all linear 0.3s;
                                        transform-origin: center;
                                    }

                                    i {
                                        font-size: 14px;
                                        margin-top: 1px;
                                        transition: all linear 0.3s;
                                    }
                                }


                            }
                        }

                        .category:hover {

                            .category__caption {

                                span {

                                    p::before {
                                        left: 0;
                                        width: 100%;
                                    }

                                    i{
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}