.exHero {
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .exHero__main {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .exHero__cont {

            .exHero__row {
                
                .exHero__col {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    
                    .exHero__content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        border: 1px solid #4a4a4a;
                        background-color: black;
                        width: 415px;
                        padding: 30px;

                        h1 {
                            font-size: 44px;
                            font-weight: 500;
                            line-height: 52px;
                            color: white;
                            margin-bottom: 22px;
                        }

                        p {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 28px;
                            color: white;
                            margin-bottom: 20px;
                        }

                        .content__last__p {
                            margin: 0px;
                        }

                        .exHero__content__span {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 21.7px;
                            color: white;
                            margin-bottom: 7px;
                        }

                        a {
                            width: 100%;
                            background-color: white;
                            padding: 10px 20px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 20px;
                            cursor: pointer;
                            border: 1px solid white;
                            transition: 0.3s;

                            span {
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 28px;
                                letter-spacing: 0;
                                color: black;
                            }

                            i {
                                color: black;
                                font-size: 18px;
                            }
                        }

                        a:hover{
                            background-color: black;

                            span{
                                color: white;
                            }

                            i{
                                color: white;
                            }
                        }

                    }
                }
            }

        }
    }

    .exHero__mini {
        background: linear-gradient(180deg, rgba(0, 0, 0, .8) 10%, #000);

        .exHero__mini__cont {
            padding: 20px 0px;
            border-bottom: 1px solid #4a4a4a;

            .exHero__mini__row {

                .exHero__mini__col {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .exHero__mini__left {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        a {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 28px;
                            color: white;
                            position: relative;
                        }

                        a::before {
                            position: absolute;
                            content: "";
                            bottom: 2px;
                            left: 0;
                            width: 100%;
                            height: 1.5px;
                            background-color: white;
                            transition: all linear 0.3s;
                            transform-origin: center;
                        }

                        a:hover::before {
                            left: 50%;
                            width: 0;
                        }

                        i {
                            color: white;
                            font-size: 10px;
                            margin: 0 6px;
                        }

                        p {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 28px;
                            color: white;
                        }


                    }

                    .exHero__mini__right {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        p {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 28px;
                            color: white;
                            margin-right: 20px;
                        }

                        ul {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;

                            li {

                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: white;
                                    color: black;
                                    font-size: 18px;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                    transition: 0.3s;
                                }

                                a:hover{
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}