.shopdet {
    background-color: #f5f5f5;
    padding: 60px 0;

    .shopCart__cont {

        .shopCart__row {

            .shopCart__col {
                margin: 0 auto;
            }
        }
    }

    .shopdet__heading__cont {
        margin-bottom: 20px;

        .shopdet__heading__row {

            .shopdet__path {
                margin: 0 auto;
                margin-bottom: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    color: black;
                    position: relative;
                }

                a::before {
                    position: absolute;
                    content: "";
                    bottom: 2px;
                    left: 0;
                    width: 100%;
                    height: 1.5px;
                    background-color: black;
                    transition: all linear 0.3s;
                    transform-origin: center;
                }

                a:hover::before {
                    left: 50%;
                    width: 0;
                }

                span {
                    margin: 0 6px;
                    font-size: 14px;
                    color: #707070;
                }

                p {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    color: black;
                }
            }

            .shopdet__title {
                margin: 0 auto;

                h2 {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 26.4px;
                    color: black;
                }
            }
        }
    }

    .shopdet__mini__cont {

        .shopdet__mini__row {

            .shopdet__mini__col {
                margin: 0 auto;
            }
        }
    }

    .shopdet__cont {

        .shopdet__row {

            .shopdet__col {
                margin: 0 auto;

                .shopdet__row2 {

                    .det__left {

                        .layout {
                            width: 100%;
                            margin-top: 0;
                            position: relative;
                            margin-bottom: 41px;

                            a {
                                color: #666;
                            }

                            .slider {

                                li {
                                    /* width: 100%; */

                                    img {
                                        width: 100%;
                                    }
                                }

                                .slick-list {
                                    height: 480px;
                                    background-color: white;

                                    .slick-slide {

                                        li {

                                            img {
                                                height: 400px;
                                                width: auto;
                                                object-fit: contain;
                                                margin: 40px auto;
                                            }
                                        }
                                    }
                                }

                                .slick-dots {
                                    margin-top: 5px;
                                    margin-left: -5px;
                                    margin-right: -5px;
                                    display: flex;
                                    justify-content: flex-start;
                                    gap: 10px;
                                    bottom: -130px;

                                    li {
                                        list-style: none;
                                        display: inline-block;
                                        width: 100px;
                                        height: 100px;
                                        margin: 5px;

                                        img {
                                            opacity: 0.5;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: contain;
                                        }

                                        &.slick-active {
                                            img {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }

                                .slick-prev {
                                    position: absolute;
                                    z-index: 99;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    left: 28px;
                                }

                                .slick-next {
                                    position: absolute;
                                    z-index: 99;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 20px;
                                }

                                .slick-prev::before {
                                    font-family: "Font Awesome 6 Free";
                                    content: "\f053";
                                    font-weight: 600;
                                    font-size: 22px;
                                    color: #ccc;
                                }

                                .slick-next::before {
                                    font-family: "Font Awesome 6 Free";
                                    content: "\f054";
                                    font-weight: 600;
                                    font-size: 22px;
                                    color: #ccc;
                                }
                            }
                        }
                    }

                    .tabs {
                        width: 95%;

                        .nav-tabs {

                            .nav-item {

                                .nav-link {
                                    color: black;
                                    border-radius: 0;
                                    background: none;
                                    padding: 9px 25px;
                                    font-size: 17px;
                                    font-weight: 500;
                                    line-height: 22.9px;
                                }
                            }
                        }

                        .tab-content {

                            .tab-pane {
                                margin-top: 35px;

                                p {
                                    font-size: 16px;
                                    font-weight: 300;
                                    line-height: 22.9px;
                                    color: black;
                                    letter-spacing: 0.6px;
                                }

                                .tabpane__row {

                                    .tabpane__col {

                                        span {
                                            font-size: 13.5px;
                                            font-weight: 300;
                                            line-height: 18.6px;
                                            color: #aaabae;
                                            letter-spacing: 0.6px;
                                        }

                                        p {
                                            font-size: 20px;
                                            font-weight: 300;
                                            line-height: 18.6px;
                                            color: black;
                                            margin-top: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .det__right {

                        .det__content {
                            border: 1px solid #ccc;
                            padding: 10px;
                            position: sticky;
                            top: 30px;

                            h2 {
                                font-size: 36px;
                                font-weight: 600;
                                color: black;
                                line-height: 36px;
                                margin-bottom: 40px;
                                margin-top: 10px;
                            }

                            .quantity {
                                display: flex;
                                justify-content: flex-start;
                                gap: 15px;
                                align-items: center;
                                margin-bottom: 20px;

                                .quantity__title {

                                    p {
                                        font-size: 16px;
                                        font-weight: 500;
                                        color: #333333;
                                        line-height: 22.9px;
                                    }
                                }

                                .quantity__func {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 60px;
                                    /* padding: 0 22px; */
                                    border: 1px solid #e5e5e5;
                                    width: 110px;

                                    p {
                                        color: #333333;
                                        /* margin: 0 15px; */
                                    }

                                    button {
                                        border: none;
                                        background: none;
                                        color: #333333;
                                        height: 100%;
                                        padding: 0 20px;
                                    }
                                }
                            }

                            .addtobasket__button {
                                width: 100%;
                                background-color: black;
                                color: white;
                                border: none;
                                font-size: 24px;
                                font-weight: 500;
                                color: white;
                                line-height: 22px;
                                padding: 14px;
                                margin-bottom: 40px;
                                border: 1px solid black;
                                transition: 0.3s;
                            }

                            .addtobasket__button:hover {
                                background-color: white;
                                color: black;
                            }

                            .accordion {

                                .accordion-item {
                                    border: none;
                                    border-top: 1px solid #ddd;
                                    background-color: transparent;
                                    border-radius: 0;

                                    .accordion-header {
                                        margin: 0;
                                        background-color: transparent;

                                        .accordion-button {
                                            border-radius: 0;
                                            padding: 15px 0;
                                            background-color: transparent;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 22.9px;
                                            color: black;
                                        }
                                    }

                                    .accordion-collapse {

                                        .accordion-body {

                                            ul {
                                                list-style: disc;

                                                li {
                                                    font-weight: 400;
                                                    font-size: 16px;
                                                    line-height: 22.9px;
                                                    color: #333333;
                                                }
                                            }

                                            p {
                                                font-weight: 400;
                                                font-size: 16px;
                                                line-height: 22.9px;
                                                color: #333333;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}